.top {
    width: 100%;
    background: #F5F5F5;
    position: relative;
}

.top .subContainer {
    line-height: 30px;
}

.item {
    margin-left: 5px;
}
.item:hover{
    background:#FFFFFF;
    cursor: pointer;
}