.light-yellow{
    background:lightyellow;
}

.light-gray{
    color:    #D7DBE3;
}

.slight-puple{
    background:#9966ff;
}
.light-puple{
    background:#6633ff;
}

.middle-puple{
    background:#6633cc;
}

.dark-puple{
    background:#663399;
}
.slight-blue{
    background:#99ffff;
}
.light-blue{
    background:#33ffff;
}

.middle-blue{
    background:#3399cc;
}

.dark-blue:{
    color:#1E283B;
}